<%- if not @p.nil? %>
<strong>Patient details</strong> [<%= link_to_remote "refresh", 
                  :url => {:controller => '/manage/patients', 
		           :action => 'rn', 
			   :id => @p.rn},
		  :update => {:success => "patient-info"},
		  :loading => "$('patient-loading').setStyle({visibility:'visible'});",
		  :complete => "$('patient-loading').setStyle({visibility:'hidden'});" %>]
<span id="patient-loading" class="loading"></span>
  <dl>
    <dt>Name
    <dd><%= @p.name %>
  </dl>
<div class="smalldescription">
  Are these details incorrect? <%= link_to "Update this patient", 
                                           {:controller => '/manage/patients',
					   :action => 'edit',
					   :id => @p.id},
					   {:popup => true} %>
</div>
<%- else %>
<strong>Patient details</strong><span id="patient-loading" class="loading"></span>
  <p><strong style="color:red;background-color:rgba(255,255,255,0.5)">ERROR:</strong> Patient data not found!</p>
<%- end %>
