/* fonts */
@font-face {
        font-family: 'ZwekabinRegular';
        src: url('zwekabin-webfont.eot');
        src: local('☺'), url('zwekabin-webfont.woff') format('woff'), url('zwekabin-webfont.ttf') format('truetype'), url('zwekabin-webfont.svg#webfontriRTgDgd') format('svg');
        font-weight: normal;
        font-style: normal;
}

h3.mm, ul.mm, ul.mm li { font-family: 'ZwekabinRegular' !important}

/* colour schemes */
.manage #header, .manage #footer, ul.homepage.menu li.manage { background-color:#E165CE; }
.entry #header, .entry #footer, ul.homepage.menu li.entry { background-color:#4f99d1; }
.report #header, .report #footer, ul.homepage.menu li.report { background-color:#65E169; }
.doc #header, .doc #footer, ul.homepage.menu li.doc { background-color:#E1D965; }
.homepage #header, .homepage #footer {background-color:#99AEDE;}

/* global stuff */
td { vertical-align: top; }
* { font-family:  "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Lucida, sans; }
body { background-color: #ccc; }
#content, #header, #footer { width:800px; margin: 0px auto; background-color:white; padding: 10px 20px;}
#content, #footer {border-top: thin solid #ccc;}
#content {min-height:10em;}
#header { overflow:auto;}
#header h1,#header .subhead  {float:left;}
#header h1 a, #header h1 a:visited { text-decoration:none; color:#000; }
#header h1 a:hover {text-decoration:underline;color:#000;}
#header .date { clear:both; float:right;}
#footer { font-size: 0.8em; line-height:1.5em; overflow:auto;}
#footer .about { width: 300px; float:right; border-left: thin solid #ccc; padding-left: 20px;}
#footer .nav { float:left; display:inline;list-style-type:none;padding:0px;margin:0px;padding-right: 20px;border-right: thin solid #ccc; }
#footer a, #footer a:visited, #footer a:hover {color: #000;}
#footer a:hover {background-color: #eec; }
.vspace { height:2em; }


/* common homepage */
#menu { overflow:auto; margin-bottom: 1em; }
#menu h3 { margin:0px; padding:0px; padding-bottom:0.5em;margin-bottom:0.5em;border-bottom: thin solid #ccc; text-align:center;}
ul.menu { width:700px;list-style-type:none; margin: 0px auto;}
ul.menu li { width:190px; height: 180px; float:left;border: 2px solid #333; margin:10px;border-radius:20px; padding: 0px 5px;position:relative;}
ul.menu li .content { position:absolute; text-align:center; width:95%; margin: 10px auto;}
ul.menu li .content a, 
ul.menu li .content a:hover
{color:#06c;background-color:transparent;text-decoration:underline; display:block;}

/* main homepage */
ul.homepage.menu li a, ul.homepage.menu li a:hover {background-color:white;border-radius:5px}
ul.homepage.menu {width:60%;}

/* report menu */
ul.report.menu {width:65%}

/* management section colours */
.active-scaffold .manage\/staff-view { background-color: #FFFFCD;}
.active-scaffold .manage\/patients-view { background-color: #CDDCFF;}
.active-scaffold .manage\/departments-view { background-color: #FFE1CD;}
.active-scaffold .manage\/sources-view { background-color: #CDFFF8;}

/* create view */
 .description { display:block; max-width:400px; float:left; }

/* actions */
div.template-actions { float:right; width:190px;padding-left:20px;margin-right:10px;;margin-top:1em}
.template-actions a.delete { background-color: #F27785; color:black; padding:10px;border-radius:5px}
.template-actions a.export { background-color: #7FCF00; color:black; padding:10px;border-radius:5px}
.template-actions a:hover { color: #06C; }

/* show stuff */
.colourCube { display:block;width:1.5em;height:1.5em;float:left; margin-right: 1em;border: 1px solid black}
#content .active-scaffold-header h2 { font-size: 1.5em; }
.active-scaffold .show-view .new-view dl dt, 
.active-scaffold .show-view .edit-view dl dt
{ margin-bottom:0px; }
.active-scaffold .show-view .new-view dl dt label,
.active-scaffold .show-view .edit-view dl dt label
 { font-size: 12px; font-weight:bold; }
.active-scaffold .show-view dl dt { font-size: 12px; font-weight: bold; margin-bottom:3em }
.active-scaffold dd { margin-left: 0px;}
tbody.records { width:500px;}
.active-scaffold .show-view table { width:450px; }
.active-scaffold .show-view table.show-template { width:100%;}
.active-scaffold .show-view table.show-template th { font-size: 12px; font-weight: bold;color:#666;vertical-align:top; background-color: transparent; width: 100px;}
.active-scaffold .show-view table.show-template td {margin-bottom: 2em; width: 450px;}
.active-scaffold .show-view table.show-template td.description { background: #bbd0ff url('../images/information.png') 0px 0px no-repeat; width:190px; font-size:9pt; font-weight: normal;display:block; margin-right:10px; min-height:20px;padding-left:20px;color:#000;border-left: solid 5px #6671ff;}
td.children-column ul.children { padding: 0px 0px 0px 15px; margin:0px}

/* form elements */
.short input { width:10em; }

/* overrides */
.active-scaffold-header { min-width: 300px; }


/* Styles for ColorPicker popUp */

#colorpicker {
  position: absolute;
  width: 145px;
  height: 135px;
  overflow: hidden;
  background: #F9F9F9;
  border: 2px #C0C0C0 outset;
  z-index: 1000;
}

#colorpicker-hue-container {
    position: absolute; 
    top: 4px;
    left: 120px; 
    width: 18px;
    height: 110px; 
}

#colorpicker-hue-bg-img {
    width: 100%; 
    height: 100%; 
}

#colorpicker-hue-slider {
    position: absolute; 
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%; 
}

#colorpicker-hue-thumb { 
    position: absolute; 
    top: 0;
    left: 0;
    width: 18px; 
    height: 18px; 
    z-index: 1009;
    cursor: default;
}

#colorpicker-bar {
  text-align: right;
  padding-right: 10px;
}

#colorpicker-close {
  cursor: pointer;
  color: blue;
  font-size: 10px;
  font-family: Tahoma, Helvetica, Sans-Serif;
  font-weight: bold;
}

#colorpicker-div {
  position: absolute; 
  top: 8px;
  left: 8px; 
  width: 100px;
  height: 100px; 
  border: 1px solid #666;
}

#colorpicker-bg,
#colorpicker-bg-overlay { 
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  overflow: hidden;
}
#colorpicker-selector { 
  position: absolute; 
  top: 0px;
  left: 0px;
  width: 11px; 
  height: 11px; 
  z-index: 1009;
  margin-top: -6px;
  margin-left: -6px;
  cursor: default;
}
#colorpicker-selector img {
  position: absolute;
  left: 0;
  top: 0;
}
#colorpicker-footer {
  position: absolute; 
  top: 114px;
  left: 10px; 
  width: 127px;
}

#colorpicker-value {
  float: left;
}

#colorpicker-value,
#colorpicker-value-input {
  font-size: 9px !important;
  font-family: Helvetica, Verdana, Sans-Serif;
  height: 10px;
}

#colorpicker-value-input {
  width: 40px;
}
#colorpicker-okbutton {
  float: right;
  padding: 0 10px;
  background: #3366FF;
  font-size: 10px;
  font-family: Tahoma, Helvetica, Sans-Serif;
  border: 1px solid #666666;
  color: #ffffff;
}

/* flash notices */
#notice { background-color: #A4E7A0; border: 1px solid #26722D; }
#error { background-color: #F0A8A8; border: 1px solid #900; }
#notice, #error { width: 90%; margin: 0 auto 10px auto; padding: 5px; font-size: .75em; }
#notice p, #error p { margin-left: 20px; padding: 0; color: #000; }
#notice a, #error a { text-decoration: none; padding: 0 3px; }
#notice a { border: 1px solid #26722D; color: #26722D; }
#error a { border: 1px solid #900; color: #900; }
#notice a:hover, #error a:hover { color: #333; border: 1px solid #333; }

/* data entry: layout */
#form-content {padding: 0em 1em;border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px}
#form-content div.fieldset {border:2px groove threedface;margin:2px;padding:0.5em}
#form-content div.fieldset.default { border:none;}
#form-content div.fieldset legend {font-weight:bold;font-size:1.1em;text-decoration:underline}
#form-content div.fieldset.default legend { display:none; }
#form-content div.fieldset legend.subtest { cursor:pointer; }
#form-content div.fieldset legend.subtest.disabled { color:#555;}
#form-content input { width : 15em; }
#form-content input.short { width : 5em; }
#form-content label.required { color:#EB2020; background-color: rgba(255,255,255,0.6); border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px}
#form-content dl.field dd { padding-bottom:1em;border-bottom: thin solid #666 }
#form-content dl.field dl,
#form-content dl.field dl dt,
#form-content dl.field dl dd { font-size: 90%; border:none }
#form-content dl.i,
#form-content dl.i dt,
#form-content dl.i dd { display:inline-block; border:none;}
#form-content dl.i dd { margin:0px;}
#form-content dl.i dt:before { content: "• " }
#form-content .description,
.smalldescription,
#form-content .smalldescription { display:block; float:none;max-width:70%;margin: 0 auto; border: 5px solid #4F99D1; border-radius:10px;padding:1.5em; font-size:90%;margin-bottom:1em;background: rgba(255,255,255,0.5) url('../images/help.png') 5px 5px no-repeat;padding-left: 70px; min-height:20px }
#form-content div.smalldescription { font-size:80%; background-image: url('../images/help-small.png');height:2em;padding:10px 10px 5px 40px;}

span.disabled { color:red;font-weight:bold;}

/* data entry: patient info div */
#form-content #patient-content {float: right; border: thin solid black; top: -20px; position: relative;width:50%;font-size:80%}
#testable_patient_id_rn_loading { background: rgba(255,255,255,0.5)  url('../images/loading.gif') 0px 2px no-repeat;width:18px;height:20px;padding:0px;margin:0px;display:inline-block;position:relative;top:3px;}
#patient-loading { visibility:hidden;background: rgba(255,255,255,0.5)  url('../images/loading.gif') 0px 2px no-repeat;width:18px;height:20px;padding:0px;margin:0px;display:inline-block;position:relative;top:3px;}
body.entry .active-scaffold .show-view dl dt { font-size: 11px; font-weight: normal; margin-bottom:0em }
#patient-controls {float:right;font-size:0.9em;}
#patient-content a, 
#patient-content a:hover
#patient-content a:visited { color:#06C; }
#patient-content { background-color:white; padding:5px}
.patient-history {float:left;margin-top:1em;font-size:0.8em}

/* data entry: testables show */
body.entry .active-scaffold .show-view div.testable-show  dl dt { font-size: 11px; font-weight: normal; margin-bottom:1em }

/* data entry: auto-complete */
div.auto_complete {
  width: 350px;
  background: #fff;
}

div.auto_complete ul {
  border:1px solid #888;
  margin:0;
  padding:0;
  width:100%;
  list-style-type:none;
}

div.auto_complete ul li {
  margin:0;
  padding:3px;
  cursor: pointer;
}

div.auto_complete ul li.selected {
  background-color: #ffb;
}

div.auto_complete ul strong.highlight {
  color: #800;
  margin:0;
  padding:0;
}

/* reports: show testable */
body.report .active-scaffold .show-view dl dt { font-size: 11px; font-weight: normal; margin-bottom:0em }
#do-report { padding:1px; border: 2px solid #009905; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; background-color:#65E169;}

/* reports: raw report */
#report-content dl dt { font-size: 11px; font-weight: normal; margin-bottom:0em;width: 12em;float: left;clear: left;font: normal 11px verdana, sans-serif;color: #555;line-height: 16px; }

#report-content dl dd {float: left;font: bold 14px arial;padding-left: 5px;margin-bottom: 5px;}
#report-content .breakdown { clear:both;float:none;}
#report-content h3, #report-content h4 { padding: 0px;margin:0px;}
#report-content .cleared { clear:both;float:none}
#report-content { margin-top:2em;}
#report-header blockquote { padding:5px;background-color: #ccc}
