/* global stuff */
td { vertical-align: top; }
* { font-family:  "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Lucida, sans; }
body { background-color: #ccc; }
#content, #header, #footer { width:800px; margin: 0px auto; background-color:white; padding: 10px 20px;}
#content, #footer {border-top: thin solid #ccc;}
#header { overflow:auto;}
#header h1,#header .subhead  {float:left;}
#header .date { clear:both; float:right;}
#footer { font-size: 0.8em; line-height:1.5em; overflow:auto;}
#footer .about { width: 300px; float:right; border-left: thin solid #ccc; padding-left: 20px;}
#footer .nav { float:left; display:inline;list-style-type:none;padding:0px;margin:0px;padding-right: 20px;border-right: thin solid #ccc; }


/* management homepage */
#manage-menu { overflow:auto; margin-bottom: 1em; }
#manage-menu h3 { margin:0px; padding:0px; text-align:center;}
.manage-menu { width:700px;list-style-type:none; margin: 0px auto;}
.manage-menu li { width:190px; height: 180px; float:left;border: 2px solid #333; margin:10px;border-radius:20px; padding: 0px 5px;position:relative;}
.manage-menu li .content { position:absolute; top:40px; text-align:center;}
.vspace { height:2em; }
.manage-menu li .content a, .manage-menu li .content a:hover
{color:#06c;background-color:#fff;text-decoration:none; padding-bottom:0.5em;margin-bottom:0.5em;border-bottom: thin solid #ccc;display:block;}

/* create view */
 .description { display:block; max-width:400px; float:left; }

/* actions */
.form-footer a.delete { background-color: #F27785; color:black; }
.form-footer a.delete:hover { color: #06C; }

/* show stuff */
.colourCube { display:block;width:1.5em;height:1.5em;float:left; margin-right: 1em;border: 1px solid black}
#content .active-scaffold-header h2 { font-size: 1.5em; }
.active-scaffold .show-view .new-view dl dt, 
.active-scaffold .show-view .edit-view dl dt
{ margin-bottom:0px; }
.active-scaffold .show-view .new-view dl dt label,
.active-scaffold .show-view .edit-view dl dt label
 { font-size: 12px; font-weight:bold; }
.active-scaffold .show-view dl dt { font-size: 12px; font-weight: bold; margin-bottom:3em }
.active-scaffold dd { margin-left: 0px;}
.active-scaffold .show-view dd.description { background: #bbd0ff url('../images/information.png') 0px 0px no-repeat; float:right; width:180px; font-size:0.8em; font-weight: normal;display:block; margin-right:10px; min-height:20px;padding-left:20px;color:#000;border-left: solid 5px #6671ff;}
tbody.records { width:500px;}
.active-scaffold .show-view table { width:400px; }

/* form elements */
.short input { width:10em; }

/* overrides */
.active-scaffold-header { min-width: 300px; }


/* Styles for ColorPicker popUp */

#colorpicker {
  position: absolute;
  width: 145px;
  height: 135px;
  overflow: hidden;
  background: #F9F9F9;
  border: 2px #C0C0C0 outset;
  z-index: 1000;
}

#colorpicker-hue-container {
    position: absolute; 
    top: 4px;
    left: 120px; 
    width: 18px;
    height: 110px; 
}

#colorpicker-hue-bg-img {
    width: 100%; 
    height: 100%; 
}

#colorpicker-hue-slider {
    position: absolute; 
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%; 
}

#colorpicker-hue-thumb { 
    position: absolute; 
    top: 0;
    left: 0;
    width: 18px; 
    height: 18px; 
    z-index: 1009;
    cursor: default;
}

#colorpicker-bar {
  text-align: right;
  padding-right: 10px;
}

#colorpicker-close {
  cursor: pointer;
  color: blue;
  font-size: 10px;
  font-family: Tahoma, Helvetica, Sans-Serif;
  font-weight: bold;
}

#colorpicker-div {
  position: absolute; 
  top: 8px;
  left: 8px; 
  width: 100px;
  height: 100px; 
  border: 1px solid #666;
}

#colorpicker-bg,
#colorpicker-bg-overlay { 
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  overflow: hidden;
}
#colorpicker-selector { 
  position: absolute; 
  top: 0px;
  left: 0px;
  width: 11px; 
  height: 11px; 
  z-index: 1009;
  margin-top: -6px;
  margin-left: -6px;
  cursor: default;
}
#colorpicker-selector img {
  position: absolute;
  left: 0;
  top: 0;
}
#colorpicker-footer {
  position: absolute; 
  top: 114px;
  left: 10px; 
  width: 127px;
}

#colorpicker-value {
  float: left;
}

#colorpicker-value,
#colorpicker-value-input {
  font-size: 9px !important;
  font-family: Helvetica, Verdana, Sans-Serif;
  height: 10px;
}

#colorpicker-value-input {
  width: 40px;
}
#colorpicker-okbutton {
  float: right;
  padding: 0 10px;
  background: #3366FF;
  font-size: 10px;
  font-family: Tahoma, Helvetica, Sans-Serif;
  border: 1px solid #666666;
  color: #ffffff;
}
