<script type="text/javascript">
  function jumpTo (e) {
    if (e.value && e.value !== "--select--") {
      window.location = '<%= url_for({:action => 'core', :controller => '/report', :only_path => false}) %>/'+e.value;
    }
  }
</script>
<div id="menu">
  <ul class="report menu">
    <li>
      <div class="item content">
	<h3>Run report</h3>
	<%= select_tag "core", 
	               "<option>--select--</option>" + options_for_select(@reports), 
		       {:onchange => "jumpTo(this)"} %>

	<p>
	  Choose one of the inbuilt reports to run
	</p>
      </div>
    </li>
    <li>
      <div class="item content">
	<h3><%= link_to "Build report", {:action => 'list', :controller => '/report/testables'} %></h3>
	<p>
	  Define a custom report to run
	</p>
      </div>
    </li>
  </ul>
</div>

