<h2>Training manuals</h2>
<h3>English</h3>
<ul>
  <li>Data Entry 
  [<a href="/docs/en/data_entry.doc">doc</a>] 
  [<a href="/docs/en/data_entry.pdf">pdf</a>]
  </li>
  <li>Administration
  [<a href="/docs/en/admin.doc">doc</a>] 
  [<a href="/docs/en/admin.pdf">pdf</a>]
  </li>
</ul>
<h3 class="mm">မြန်မာစာ</h3>
<ul class="mm">
  <li>ဝင္လာ အခ်က္အလက္
  [<a href="/docs/mm/data_entry.doc">doc</a>] 
  [<a href="/docs/mm/data_entry.pdf">pdf</a>]
  </li>
  <li>စီမံအုပ္ခ်ဳပ္မႈ
  [<a href="/docs/mm/admin.doc">doc</a>] 
  [<a href="/docs/mm/admin.pdf">pdf</a>]
  </li>
</ul>
<h2>Technical documentation</h2>
<h3>English</h3>
<ul>
  <li>System Architecture
  [<a href="/docs/en/sysarch.doc">doc</a>]
  [<a href="/docs/en/sysarch.pdf">pdf</a>]
  </li>
  <li>Windows installation
  [<a href="/docs/en/sysinst.doc">doc</a>]
  [<a href="/docs/en/sysinst.pdf">pdf</a>]
  </li>
  <li>Retrieving system updates
  [<a href="/docs/en/sysupdate.doc">doc</a>]
  [<a href="/docs/en/sysupdate.pdf">pdf</a>]
  </li>
</ul>
<h3 class="mm">မြန်မာစာ</h3>
<ul class="mm">
  <li>ကြန္ပ်ဴတာစနစ္တစ္ရပ္၏
  [<a href="/docs/mm/sysarch.doc">doc</a>]
  [<a href="/docs/mm/sysarch.pdf">pdf</a>]
  </li>
  <li>ေနသည္ စနစ္
  [<a href="/docs/mm/sysinst.doc">doc</a>]
  [<a href="/docs/mm/sysinst.pdf">pdf</a>]
  </li>
  <li>ျပဳျပင္မြမ္းမံသည္ စနစ္
  [<a href="/docs/mm/sysupdate.doc">doc</a>]
  [<a href="/docs/mm/sysupdate.pdf">pdf</a>]
  </li>
</ul>

